<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">Cart</h1>

  <div class="cart-items">
    <ion-card *ngFor="let item of cartItems" mode="ios">
      <ion-card-content>
        <div class="item-img">
          <img src="{{ item.product.image }}" />
        </div>

        <div class="item-info">
          <p>{{ item.product.name }}</p>
          <p>${{ item.product.price }}</p>

          <div class="qty-selector">
            <ion-button fill="clear">-</ion-button>
            <ion-label>{{ item.amount }}</ion-label>
            <ion-button fill="clear">+</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/checkout" routerDirection="forward">Continue</ion-button>
  </ion-toolbar>
</ion-footer>
